body, section, label, p, div, h1, h2, h3, h4, h5, code, ul, li, td, tr, a {
  transition: background-color 0.5s ease, color 0.5s ease, padding 0.5s ease;
}

#dark-mode-toggle {
  width: 3rem;
  height: 3rem;
  position: fixed;
  border-radius: 50%;
  right: 10%;
  bottom: 1rem;
  background: var(--text-color);
  user-select: none;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 10px; 
}

#dark-mode-text {
  color: var(--secondary-color);
  text-align: center;
  display: inline-flex;
  align-items: center;
}

body.dark-mode .link-cta:not(.dark-background) a {
  padding: 10px 20px;
  background-color: var(--text-color);
}

body:not(.dark-mode) .link-cta.dark-background a {
  padding: 10px 20px;
  background-color: var(--secondary-color);
}

body:not(.dark-mode) .inner-link.dark-background, body.dark-mode .inner-link:not(.dark-background) {
  padding: 5px 10px !important;
  margin: 0 5px !important;
}
