.f32 .flag{display:inline-block;height:32px;width:32px;vertical-align:text-top;line-height:32px;background:url(../images/flags32.webp) no-repeat;}

.f32 .ag{background-position:0 -800px;}
.f32 .aq{background-position:0 -960px;}
.f32 .ar{background-position:0 -992px;}
.f32 .at{background-position:0 -1056px;}
.f32 .au{background-position:0 -1088px;}

.f32 .ba{background-position:0 -1216px;}
.f32 .bb{background-position:0 -1248px;}
.f32 .be{background-position:0 -1312px;}
.f32 .bn{background-position:0 -1536px;}
.f32 .br{background-position:0 -1600px;}
.f32 .bs{background-position:0 -1632px;}
.f32 .bw{background-position:0 -1696px;}

.f32 .ca{background-position:0 -1792px;}
.f32 .ch{background-position:0 -1920px;}
.f32 .cl{background-position:0 -2016px;}
.f32 .cn{background-position:0 -2080px;}
.f32 .cu{background-position:0 -2176px;}
.f32 .cz{background-position:0 -2272px;}

.f32 .de{background-position:0 -2304px;}
.f32 .dk{background-position:0 -2368px;}

.f32 .ee{background-position:0 -2528px;}
.f32 .eg{background-position:0 -2560px;}
.f32 .es{background-position:0 -2656px;}

.f32 .fi{background-position:0 -2720px;}
.f32 .fr{background-position:0 -2848px;} .f32 .bl, .f32 .cp, .f32 .mf, .f32 .yt{background-position:0 -2848px;}

.f32 .gb{background-position:0 -2912px;}
.f32 .gr{background-position:0 -3264px;}

.f32 .hk{background-position:0 -3424px;}
.f32 .hr{background-position:0 -3488px;}
.f32 .ht{background-position:0 -3520px;}
.f32 .hu{background-position:0 -3552px;}

.f32 .id{background-position:0 -3584px;}
.f32 .ie{background-position:0 -3616px;}
.f32 .in{background-position:0 -3712px;}
.f32 .is{background-position:0 -3808px;}
.f32 .it{background-position:0 -3840px;}

.f32 .jm{background-position:0 -3904px;}

.f32 .ke{background-position:0 -4000px;}

.f32 .kh{background-position:0 -4064px;}

.f32 .la{background-position:0 -4352px;}
.f32 .lc{background-position:0 -4416px;}
.f32 .li{background-position:0 -4448px;}

.f32 .ma{background-position:0 -4704px;}
.f32 .mc{background-position:0 -3584px;}
.f32 .me{background-position:0 -4768px;}
.f32 .mq{background-position:0 -5024px;}
.f32 .mt{background-position:0 -5120px;}
.f32 .mx{background-position:0 -5248px;}
.f32 .my{background-position:0 -5280px;}

.f32 .na{background-position:0 -5344px;}
.f32 .nl{background-position:0 -5504px;}
.f32 .no{background-position:0 -5536px;}
.f32 .nz{background-position:0 -5632px;}

.f32 .ph{background-position:0 -5824px;}
.f32 .pl{background-position:0 -5888px;}
.f32 .pr{background-position:0 -5920px;}
.f32 .pt{background-position:0 -5984px;}
.f32 .py{background-position:0 -6048px;}

.f32 .ro{background-position:0 -6144px;}
.f32 .rs{background-position:0 -6176px;}
.f32 .ru{background-position:0 -6208px;}

.f32 .se{background-position:0 -6400px;}
.f32 .sg{background-position:0 -6432px;}

.f32 .tc{background-position:0 -6816px;}
.f32 .th{background-position:0 -6912px;}
.f32 .tr{background-position:0 -7104px;}
.f32 .tw{background-position:0 -7200px;}
.f32 .tz{background-position:0 -7232px;}

.f32 .us{background-position:0 -7328px;}
.f32 .uy{background-position:0 -7360px;}

.f32 .va{background-position:0 -7424px;}
.f32 .vi{background-position:0 -7552px;}
.f32 .vn{background-position:0 -7584px;}

.f32 .za{background-position:0 -7712px;}
.f32 .zw{background-position:0 -7776px;}

.f32 .sx{background-position:0 -7808px;}
