body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--secondary-color);
}

/* Responsive font sizes */
h1 { 
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #0d0d0d;
    font-weight: 500;
} /* Older browsers */

@media screen and (min-width: 25em){
  html { font-size: calc( 14px + (18 - 14) * (100vw - 360px) / (1200 - 360) ); }
  h1 { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

header {
    font-family: 'Playfair Display', serif;
}

@media only screen and (max-width: 500px) {
    header li {
        margin: 0 auto;
    }

    header ul > li:not(:first-child) {
        display: none;
    }

    header ul {
        flex-direction: column;
    }
}


header li, footer li {
    list-style: none;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #f3f0eb;
    padding: 20px 0;
}

header li a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer li {
    padding: 0;
    flex-direction: row;
}

header li img, footer li img {
    height: 60px;
    width: 60px;
}

header ul, footer ul {
    padding: 0 5rem;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(34,34,34,1);
    margin: 0;
    font-weight: 600;
    min-height: 70px;
}
