h1 {
  margin: 0;
}

h1, h2, h3, p, div, label {
  color: var(--dark-color);
}

.cover-photo {
    position: relative;
    width: 100%;
    height: 600px;
}

.cover-photo-background {
    position: absolute;
    width: 100%;
    height: 600px;
    min-height: 60px;
}

.cover-photo .attribution {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: white;
  font-size: 18px;
}

#antarctica-background {
  background: var(--tertiary-color);
}

#calgary-background {
  background: var(--accent-color);
}

.cover-photo-image {
    position: absolute;
    height: 600px;
    min-height: 60px;
    width: 100%;
    background-size: cover;
    opacity: 1;
    background-position: center;
}

#calgary {
  background-image: url('../calgary_cover.jpg');

}

#antarctica {
  background-image: url('../cover_photo.jpg');
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background-color: var(--tertiary-color);
  margin-bottom: 50px;
}

.about-me .about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4vw;
}

.about-me .about-photo {
  display: flex;
  margin-left: 4vw;
  margin-right: 4vw;
}

.about-me .about-photo img {
  height: 200px;
  width: auto;
  border-radius: 40px;
  padding: 7px;
}

.about-me h1, .about-me h3 {
  color: var(--secondary-color);
}

section {
  text-align: center;
}

.scrollable-container {
  -webkit-perspective: 800;
  -webkit-perspective-origin: 50% 225px;
  perspective: 800px;
  perspective-origin: 50% 225px;
  margin-left: 20px;
}
.scrollable-container .stage {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  display: inline-flex;
  display: inline-grid;
  justify-content: center;
  height: 300px;
  width: 450px;
  padding-left: 30px;
}

.scrollable-container .shape {
  position: relative;
  top: 100px;
  height: 100px;
  width: 450px;
  padding: 0;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transition: transform .5s ease-in-out;
}

.scrollable-container .item {
  position: absolute;
  cursor: pointer;
  height: 100px;
  width: 400px;
  -webkit-border-radius: 12px;
  -webkit-box-sizing: border-box;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 60pt;
  background-color: var(--primary-color-transparent);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 4px 0px;
}

.continents.item {
  font-size: 50px;
}

.location-display-wrapper {
  flex-basis: 590px;
  width: 100%;
  height: 150px;
  background-color: var(--primary-color);
  border-radius: 24px;
  transition: height .5s ease-in-out;
  padding-bottom: 15px;
}

.display-locations {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-align: left;
}

.display-locations ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: max-content;
  list-style: none;
  -webkit-padding-start: 0;
  padding: 0 30px;
}

.country-list {
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.location-display-wrapper .header {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin-left: 50px;
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.location-display-wrapper .footer {
  font-size: 12px;
  font-style: italic;
  text-align: left;
  font-weight: normal;
  padding-left: 20px;
}

.display-locations li {
  line-height: 32px;
  display: inline-block;
}

.display-locations li.flag {
  padding-left: 40px;
  width: 200px;
  white-space: nowrap;
}

.display-locations li.flag.lived {
  text-decoration: underline;
}

.display-code {
  line-height: 18px;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.top-level, .left-code {
  text-align: left;
}

.top-level * {
  padding-left: 30px;
}

.top-level .cancel-indent {
  padding-left: 0;
}

.top-level .empty-space {
  margin: 20px 0;
}

.code-spinner, .location-spinner, .contact-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.location-spinner {
  margin-top: 20px;
  margin-bottom: 60px;
  min-height: 400px;
}

.code-header {
  margin-bottom: 0;
}

.spinner-items, .code, .item {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

hr {
  width: 50%;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

code {
  background-color: var(--primary-color);
  flex-basis: 500px;
  height: 200px;
  align-items: center;
  border-radius: 24px;
  display: flex;
  justify-content: flex-start;
  margin: 0 20px;
}

.final-note p {
  margin: 0 30px;
}

.stationary-frame {
   overflow-y: hidden;
   height: 300px;
   text-align: justify;
   display: inline-block;
   margin-top: 40px;
}

.display-contact-wrapper {
  width: 470px;
  background-color: var(--primary-color-transparent);
  border-radius: 24px;
  height: 210px;
}

.display-contact-details {
  transition: opacity .7s cubic-bezier(0.85, 0.64, 0.18, 1.13);
  height: 100%;
}

.display-contact-details a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  height: 100%;
}

.display-contact-details a.linkedin {
  margin-left: 10px;
}

.display-contact-details img {
  margin: auto;
}

.display-contact-details p {
  margin: auto;
}

.contact-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 0;
}

.contact-item {
  cursor: pointer;
  height: 100px;
  line-height: 100px;
  width: 400px;
  -webkit-border-radius: 12px;
  -webkit-box-sizing: border-box;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 30pt;
  background-color: var(--primary-color-transparent);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 10px 0;
}

.contact-item.selected {
  border: 1px solid var(--dark-color);
  background-color: var(--tertiary-color);
  font-weight: 600;
  color: var(--secondary-color);
}

@media only screen and (max-width: 750px) {
  .display-locations ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  code {
    width: 100%;
  }

  .top-level .empty-space {
    margin: 0;
  }

  .top-level * {
    padding-left: 10px;
  }

  .display-code {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .location-spinner { 
    margin-bottom: 150px;
  }

  .location-display-wrapper { 
    width: 300px;
    flex-basis: 300px;
    display: inline-block;
    width: 100%;
  }

  .location-display-wrapper .header {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    width: 50%;
    display: inline-table;
  }

  .location-display-wrapper .header span {
    padding-left: 0;
    display: inline-block;
  }

  .display-locations {
    padding-left: 20px;
  }

  .display-locations ul {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 10px;
    padding-right: 0;
  }

  .display-locations li.flag {
    width: 110px;
  }

  .scrollable-container {
    width: 100%;
    margin-left: 0;
  }

  .scrollable-container .stage {
    width: 150px;
    padding-left: 0;
  }

  .scrollable-container .item {
    font-size: calc(1vw + 20px);
    width: 50vw;
    min-width: 100px;
    padding: 0 5px;
    left: -5vw;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .scrollable-container .shape {
    width: inherit;
  }

  .display-contact-details {
    width: auto;
  }

  .display-contact-details p {
    display: none;
  }

  .display-contact-details a.keep-text {
    justify-content: center;
  }

  .display-contact-details a.keep-text p {
    display: inline-block;
    margin: 0;
    font-size: 6vw;
  }

  .display-contact-details a.keep-text img {
    width: 10vw;
    margin: 0 5px 0 0;
  }

  .display-contact-wrapper {
    width: 90%;
  }

  .stationary-frame {
    width: 100%;
  }

  .about-me .about-photo {
    display: none;
  }

  .contact-page {
    flex-direction: column;
  }

  .contact-item {
    font-size: calc(1vw + 20px);
    width: 50vw;
  }

}
