h1, p {
    text-align: center;
}

h1, h2, h3, h5, p, td, li {
    color: var(--dark-color);
}

.grid-header h3, .grid-header h5 {
    color: var(--secondary-color);
}

#projects a, .download-link {
    font-weight: 600;
}

#projects a:visited, .download-link:visited {
    color: darkblue;
}

#projects h3, #projects h5, #projects ul {
    max-width: 500px;
    text-align: left;
    margin: 0 0 5px 0;
    line-height: 26px;
}

#projects ul {
    font-size: 14px;
}

#projects li {
    line-height: 20px;
    margin-bottom: 10px;
}

#projects, #skills, #education, #employment {
    text-align: center;
    margin-top: 2vw;
}

.project-list {
    display: inline-flex;
    flex-direction: column;
    max-width: 75%;
    width: 60%;
}

.project:last-child {
    border-bottom: none;
}

.skill-summary li {
    text-wrap: nowrap;
    padding: 0 10px;
}

section::after {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 46%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 18px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:not(:nth-last-child(-n+2))::after {
    content: '';
    width: 45%;
    border-bottom: 2px solid var(--dark-color);
    margin-top: 30px;
}

.project:nth-child(even) h3,
.project:nth-child(even) h5,
.project:nth-child(even) li,
.project:nth-child(even) p {
    color: var(--secondary-color);
}

.project:nth-child(even) {
    background-color: var(--tertiary-color);
}

.project {
    display: flex;
    text-align: left;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.4);
    padding: 25px 20px;
}

.project-description {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.project-description p {
    display: inline;
    text-align: left;
    margin-top: 5px;
}

.project a {
    text-decoration: none;
}

.project-description .first-entry {
    margin-bottom: 0;
}

.skills-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill-summary {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 45%;
    min-width: fit-content;
}

.skill-summary ul {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 14px;
    display: inline-grid;
    padding: 10px 10px 25px 10px;
    background-color: var(--primary-color);
    border-radius: 15px;
    min-width: 400px;
    width: fit-content;
    max-width: 1050px;
}

.languages {
    min-width: 560px;
}

.skill-summary .grid-header {
    grid-column: 1/-1;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-bottom: 15px;
}

.grid-header.grid-header-small {
    padding: 0;
    margin-bottom: 5px;
}

.grid-header.grid-header-small h5 {
    margin: 10px;
}

.skill-summary h3 {
    margin: 0;
}

.skill-summary li {
    display: inline-flex;
    justify-content: left;
    align-items: center;
}

.skill-summary li:after {
    content: "\A";
    white-space: pre;
}

.icon {
    padding-right: 5px;
}

#employment {
    overflow-x: auto;
}

table {
    margin: 0 auto;
    text-align: left;
    width: 80%;
    max-width: 56%;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    padding: calc(3vw - 2%);
}


tr:nth-child(even) {
    background-color: var(--tertiary-color);
    border-bottom: 1px solid;
    border-top: 1px solid;
}

tr:nth-child(even) td {
    color: var(--secondary-color);
}

td {
    text-align: center;
}

td:first-child {
    text-align: left;
}

td:last-child {
    text-align: right;
}

#education tr {
    background-color: var(--tertiary-color);
}

#education td {
    color: var(--secondary-color);
}

.degree {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 500px) {
    .languages {
        min-width: fit-content;
        padding: 0;
        margin: 10px;
    }

    .project {
        flex-direction: column;
    }

    table {
        max-width: none;
        width: 95%;
    }

    td {
        padding: 10px;
        text-align: left;
    }

    .skill-summary ul {
        grid-template-columns: repeat(2, 1fr);
        min-width: fit-content;
    }
    .skill-summary .grid-header {
        grid-column: 1/-1;
    }

    #projects ul {
        padding-left: 15px;
    }
}