h1, p {
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

#map-container circle {
  cursor: move;
}

svg {
  will-change: transform;
  transform: translateZ(0);
}

.header-description {
  margin-top: 0;
  padding: 0 20px;
}

.controls {
  display: flex;
  margin-top: -25px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  margin-left: 10%;
  margin-top: 10px;
}

.controls p {
  display: inline-flex;
  text-align: left;
  margin: 0;
  padding: 0;
}

.country:hover{
  stroke: #fff;
  stroke-width: 1.5px;
}

.text{
  font-size:10px;
  text-transform:capitalize;
}

#map-container, #globe-container {
  margin: 10px auto 30px;
  border: 1px solid rgba(176, 176, 176, .8);
  border-radius: 5px;
  height: initial;
  width: 95%;
  overflow:hidden;
  background: #F0F8FF;
  display: none;
}

#map-container.active, #globe-container.active {
  display: block;
}

#globe-container {
  background: none;
}
.hidden { 
  display: none; 
}
div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
  will-change: transform;
  z-index: 2;
}
.graticule {
  fill: none;
  stroke: #bbb;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.equator {
  stroke: #ccc;
  stroke-width: 1px;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  pointer-events: all;
  transition: opacity .2s;
  white-space: nowrap;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  transition: opacity .2s;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  display: block;  
  border: solid #000;
  border-width: 0 2px 2px 0;
  position: relative;
  width: 3px;
  height: 6px;
  top: -11px;
  left: -19px;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: opacity .2s;
  pointer-events: none;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
  transition: opacity .2s;
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: rotate(40deg)scale(1.3);
  transition: opacity .2s;
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

@media only screen and (min-width: 700px) {
  body .controls {
    align-items: left;
    margin: 25px auto 10px;
    flex-direction: row;
    width: 60%;
  }

  .controls p.map-control {
    text-align: center;
  }

  .controls [type="checkbox"]:not(:checked) + label:after,
  .controls [type="checkbox"]:checked + label:after {
    width: 4px;
    height: 8px;
    top: -.8rem;
    left: -1.35rem;
  }

  #map-container, #globe-container {
    width: 60%;
  }
}