:root {
  --primary-color: #98C1D9;
  --primary-color-transparent: #98C1D999;
  --secondary-color: #E0FBFC;
  --tertiary-color: #3D5A80;
  --text-color: #293241;
  --accent-color: #EE6C4d;
}

body.dark-mode { 
  --primary-color: #293241;
  --primary-color-transparent: #29324199;
  --secondary-color: #3D5A80;
  --tertiary-color: #98C1D9;
  --text-color: #E0FBFC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #293241;
    --primary-color-transparent: #29324199;
    --secondary-color: #3D5A80;
    --tertiary-color: #98C1D9;
    --text-color: #E0FBFC;
  }
}